[2015-07-07 18:50] jrafanie opened #5 "Timeout::Error: execution expired during appliance kickstart"
During rake assets:clean:

[code]

[2015-07-07 18:51] jrafanie commented on #5
evm.rake:41 is here:  https://github.com/ManageIQ/manageiq/blob/3e90bae68067d26a45c2076d698ce945d8a204b0/lib/tasks/evm.rake#L41

Which runs:
`Rake::Task["assets:clean"].invoke`

Note, ruby_parser was upgraded [here via the brakeman upgrade](https://github.com/ManageIQ/manageiq/commit/a78d508ce6903c4cdaf1497d93cbdfb73113d93d)

@matthewd found that ruby_parser had the debug logging [here](https://gi

[2015-07-07 18:51] jrafanie commented on #5
It turns out that within the kickstart %post section, DEBUG is set but empty so unsetting it at the very beginning should fix this issue for us.

[2015-07-07 21:07] #5 closed

[2015-07-09 21:18] jrafanie opened #15 "Change and test symlinking code to not change directories"
See: https://github.com/ManageIQ/manageiq-appliance-build/pull/14#discussion_r34285335

It's not a difficult change, but requires some testing... putting this here to remember to do it.

[2015-07-10 13:39] kbrock commented on #15
heh. now that appliance_console is merged, we'll see how this all comes together tomorrow

[2015-07-14 15:20] Fryguy commented on #15
Yeah, chdir is not necessary.  ln doesn't resolve the first parameter...it just uses it directly.

[2015-07-28 17:29] #15 closed

[2015-08-21 15:37] abellotti opened #26 "Appliance Properties shows "Red Hat Enterprise Linux 6 64 bit""
Downloading/Importing CentOS 7.1 built appliance ova to Fusion, the General properties of an appliance shows "Red Hat Enterprise Linux 6 64-bit" should be the "... 7 64-bit" string.  not sure where the property comes from, not in our config files, could be set in Imagefactory/Oz land.

[2015-08-21 15:42] jrafanie opened #27 "libsemanage could not query record value (No such file or directory) in appliance build log"
In ~/anaconda-post.log:

[code]

The `sysctl -p /etc/sysctl.conf` is from [here](https://github.com/ManageIQ/manageiq-appliance-build/blob/efc1308255e3d7d2f7fde4b1b1a24ab090eb1afb/kickstarts/base.ks.erb#L308)

Meaning, the it's coming from one of the `semanage` lines from `cfme-setup.sh` [here](https://github.com/ManageIQ/manageiq-appliance/blob/06c498e7f890b29b91ac563888ce34ec9402b442/cfme-setup.

[2015-09-08 18:36] Fryguy opened #40 "Need a LICENSE."
This should probably be what is in ManageIQ/manageiq initially, since this was extracted from there.

[2015-09-15 22:54] jrafanie opened #55 "Verify first boot of appliance with no nic will correctly setup or delay database setup until next boot"
If you forget or your hypervisor doesn't give you a NIC (I'm looking at you RHEV), will the first-boot service to setup the database run correctly or prevent disabling itself until it's successful on boot?

https://github.com/ManageIQ/manageiq-appliance-build/blob/dd81e593a7ea12e0a1925f1dfcd79c52a32204d0/kickstarts/partials/post/db_init.ks.erb#L21

cc @carbonin @abellotti

I don't remember who add

[2015-09-15 23:08] jrafanie commented on #55
This is based on an issue that @brandondunne ran into, maybe he can help illustrate or clarify the use case.

[2015-09-16 12:50] abellotti commented on #55
As to the name, that'll be me :)  but I'd keep it generic just in case we need to do something other than database setup on first boot, we don't want to end up with multiple first-boot services. Maybe something like initialize-appliance-on-first-boot.service ?

[2015-09-16 13:08] carbonin commented on #55
I would imagine because it will always use the internal disk for database configuration that it wouldn't care about network connectivity.  What would happen if it did fail for some other reason is a good question though.  Would it disable the service even if the `ExecStart=` script fails?

[2015-09-16 14:09] brandondunne commented on #55
I think it may have started the script, then I shut it down while it was still initializing.  After that it was in a partially initialized state which it couldn't recover from.

[2015-09-16 14:10] carbonin commented on #55
Right, probably due to https://github.com/ManageIQ/manageiq-appliance-build/blob/dd81e593a7ea12e0a1925f1dfcd79c52a32204d0/kickstarts/partials/post/db_init.ks.erb#L4

[2015-09-16 14:25] abellotti commented on #55
Right, I needed to make 100% sure, even if they manually re-enable the
service, that we don't blow away a database.

On Wed, Sep 16, 2015 at 10:10 AM, Nick Carboni <notifications@github.com>
wrote:

--
*Alberto Bellotti*
abellott@redhat.com

[2015-09-18 19:21] bdunne opened #57 "Version number sha is not helpful"
The version number in the UI currently reports `version.yyyymmddhhmmss_sha`.  The problem is that the short sha refers to the manageiq-appliance-build git sha, not the manageiq git sha from which the build was made.  Now that we are split into multiple repos, I wonder if it even makes sense to have the git sha in the version number.  I believe we agreed to bump the version number for every build,

[2015-09-18 19:32] Fryguy commented on #57
I like the SHA on the non-tag builds.  That way you know *exactly* which commit.  Date is not sufficient if you do 2 in a day, or master is a commit or two behind what you'd expect for that day.

[2015-09-18 19:33] Fryguy commented on #57
For tag builds, yeah, a SHA is not necessary.

[2015-09-22 23:20] abellotti opened #62 "Upstream appliance no longer display the Appliance Console motd"
With /etc/motd moved to /etc/motd.manageiq in manageiq-appliance repo,  upstream builds  no longer display:

[code]

manageiq-appliance-build need to copy /etc/motd.manageiq back to /etc/motd during kickstart

[2015-10-01 18:55] gtanzillo commented on #62
@carbonin Can you please look into this when you get some time?

[2015-10-02 12:41] #62 closed

[2015-10-03 01:08] kbrock commented on #62
Thanks again @carbonin and @abellotti for finding / fixing

[2015-10-28 17:36] jrafanie opened #71 "Stable "release" builds should go to upstream_stable, not upstream"
Need to expose the ["directory"](https://github.com/ManageIQ/manageiq-appliance-build/blob/4ab7fea97a86ecfd84997ba4384c2c17d52fc8b4/scripts/vmbuild.rb#L89) as a CLI option:

Then, change the [release script](https://github.com/ManageIQ/manageiq-appliance-build/blob/4ab7fea97a86ecfd84997ba4384c2c17d52fc8b4/bin/release-build.sh#L13) to default to "upstream_stable"

[2015-10-29 17:38] abellotti opened #73 "/etc/issue and /etc/issue.net no longer updated"
We no longer get the updated

[code]

This was done for us via /etc/NetworkManager/dispatched.d/99-fix-issue

[2015-10-29 18:03] carbonin commented on #73
@abellotti can you just assign this to me?  I'm already looking into it.

[2015-10-29 18:04] carbonin commented on #73
@miq-bot assign @carbonin

[2015-10-29 18:08] abellotti commented on #73
Can't seem to assign it to you, somehow you're not in the pull down.

On Thu, Oct 29, 2015 at 2:04 PM, Nick Carboni <notifications@github.com>
wrote:

--
*Alberto Bellotti*
abellott@redhat.com

[2015-10-29 20:12] kbrock commented on #73
don't care how this gets called.

nice thing about the network manager solution is this gets called when dhcp responds - not when the system boots up. (slightly different)

[2015-10-29 21:31] carbonin commented on #73
The fix I'm working on would move the current functionality from there to `/usr/sbin/ifup-local` which gets called with an interface as the argument after the interface comes up.

I know we now run `ifdown/ifup` after changing network configuration so I think this will do the trick even if it isn't exactly the same.

[2015-10-30 15:19] kbrock commented on #73
@carbonin thanks. :+1:

[2015-10-30 21:14] #73 closed

[2016-02-26 13:46] jvlcek opened #95 "Test builds from a repo branch awkward"
Currently if a developer wants to test a change pushed to a branch of one of the 4 repos
used by the build that branch must be available on all 4 repos even if changes being
tested are only made to one.

The fix should _optionally_ allow a different **_branch_** name, referred to as a **_reference_** in the build scripts, to be specified for each of the repo URL used by the build scrips.

[2016-02-26 13:58] jvlcek commented on #95
@miq-bot assign @jvlcek

[2016-02-29 19:34] jvlcek commented on #95
fix merged

[2016-02-29 19:34] #95 closed

[2016-02-29 19:39] jvlcek opened #97 "Need a mechanism to test updates to kickstarts and kickstart partials"
Currently there is no easy way for developers to test updates to the kickstart.ERB or the
kickstart partials without running a full build.

A simple mechanism is needed to allow a developer to ensure the generated kickstarts
are correct when testing changes to the kickstart.ERBs and partials.

[2016-02-29 19:40] jvlcek commented on #97
The proposed solution will be up add a script section to the bottom of scripts/kickstart_generator.rb that
will consume the kickstart ERB and partials and populate the kickstarts/generated directory for the developer to view.

[2016-03-01 14:40] #97 closed

[2016-03-11 16:10] simaishi commented on #71
Fixed in #86

[2016-03-11 16:14] simaishi opened #106 "Move the build log to where the images are"
The logs should live in the same directory as the images that have been built.

Moved from: https://github.com/ManageIQ/manageiq/issues/421

[2016-03-11 16:17] simaishi opened #107 "Send a notification on build failure"
Moved from: https://github.com/ManageIQ/manageiq/issues/422

[2016-03-14 15:18] bdunne opened #108 "Duplicate ports in firewall config?"
https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/firewalld.ks.erb

@carbonin @abellotti Do we need ssh, http, https, postgres listed multiple times in the firewall config?

[2016-03-14 16:05] abellotti commented on #108
by name vs. by number, probably not.  personally, I'm more partial to the by number, but that's just me. Thanks.

[2016-03-30 14:26] himdel opened #117 "Support bower in manageiq"
After https://github.com/ManageIQ/manageiq/pull/7577, we'll need to have `bower` available in the appliance for ManageIQ (previously, it was only needed for SSUI).

Not quite sure what's needed here if anything, possibly https://github.com/ManageIQ/manageiq-appliance/pull/65 handles it .. but not sure, can anyone look at it please?

[2016-03-31 15:12] Fryguy commented on #117
The only thing I can see is that maybe this comment should be changed: https://github.com/ManageIQ/manageiq-appliance-build/blob/ffe799032a1a2ab40ead63f4a6d3bcdba7e4209f/kickstarts/partials/packages/includes.ks.erb#L84-L85

[2016-03-31 15:14] himdel commented on #117
Right.. https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/bundler.ks.erb made me think that since we're doing something bundler-related, we may need to handle this as well, but.. should I do a PR for the comment thing?

[2016-03-31 17:22] Fryguy commented on #117
might as well...it's pretty small :)

[2016-03-31 17:25] Fryguy commented on #117
I think the changes to cfme-setup.sh in ManageIQ/manageiq-appliance#65 *should* handle it.

[2016-03-31 19:01] himdel commented on #117
Aand here it is.. https://github.com/ManageIQ/manageiq-appliance-build/pull/118

[2016-04-06 19:19] #117 closed

[2016-04-29 13:50] simaishi opened #127 "Do not continue creating image when commands in %post section (e.g. bundle install) fails"
Currently, we don't catch any error coming from commands ran in %post section of kickstart.  Some errors are fatal and appliance won't work at all, but we continue creating images anyway.

Would be nice to grab the anaconda-post.log, then stop the process, to avoid generating images that won't work.

[2016-05-12 15:52] simaishi opened #130 "Specifying ref that contains dash doesn't work properly"
When creating GitChekout object, it assumes a branch is up to the first dash of ref provided:
https://github.com/ManageIQ/manageiq-appliance-build/blob/master/scripts/git_checkout.rb#L23

Then, kickstart will use that 'branch' for git checkout:
https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/source_setup.ks.erb#L14

resulting checkout branch/tag to be trun

[2016-08-03 02:53] #108 closed

[2016-08-08 14:13] simaishi opened #145 "Rename rh-repmgr95 RPM to include SCL name"
Currently repmgr95 RPM we build for SCL postgresql only has vendor name ("rh") and doesn't have SCL name ("postgresql95") in its name.

Since the RPM naming convention is `<vendor>-<scl name>-<package name>`, it should be named as `rh-postgresql95-repmgr`.

[2016-08-11 16:04] #71 closed

[2016-08-22 02:00] geertj opened #147 "Cloud-init not needed on most platforms"
From [`kickstarts/partials/packages/includes.ks.erb`](https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/packages/includes.ks.erb#L82):

[code]

However there are other platforms that should be excluded. In fact, only the following platforms support cloud-init
- openstack
- ovirt

All other platforms do not support it. (Note that EC2 does supports cloud-init as we

[2016-08-22 02:10] geertj opened #148 "Disable ssh password logins"
Currently both [azure](https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/azure.ks.erb#L8) and [gce](https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/gce.ks.erb#L4) disable password logins in `/etc/ssh/sshd_config`.

Because we have a non-private root password in our appliance, we should really disable network password

[2016-08-22 14:20] carbonin commented on #147
I think [vSphere](https://cloudinit.readthedocs.io/en/latest/topics/datasources.html#vsphere) technically supports it also, but I was never able to get it to work.

@jvlcek Can you add anything here about which platforms you were able to get working with cloud-init?

[2016-08-22 15:01] jvlcek commented on #147
@geertj In the past openstack, ovirt and vsphere had support for cloud-init.

Of the 6 images we currently build that leaves:
azure, hyperv and vagrant, of which we already excluded cloud-init in azure.

I'm not sure if it makes sense to not build cloud-init into these images or
if we should work on supporting cloud-init in as many images as feasible.

[2016-08-22 16:14] geertj commented on #147
if we should work on supporting cloud-init in as many images as feasible.

Yeah, that's a great question. I went back and forth a couple of times on this. A few years back it looked like cloud-init was going to be the standard for configuring cloud images. That hasn't materialized. The original cloud-init code is extremely ugly. This lead both OpenStack, CoreOS and CloudBase to develop their own v

[2016-08-22 17:16] jvlcek commented on #147
@geertj, Well if cloud-init is no longer the mechanism of choice and is not going to be, I'd agree that delivering it is probably not important.

[2016-08-23 18:49] Fryguy opened #151 "Upload Vagrant boxes to Atlas"
Now that #144 has been merged and we build Vagrant boxes, we should upload them to Atlas.

I started this effort, but I can't figure it out completely, so I'm punting over to @geertj .

The things we will need are probably:
- Uploads of the nightly builds on master
- Uploads of the release versions

For the nightly builds, I created a box at https://atlas.hashicorp.com/ManageIQ/boxes/manageiq/vers

[2016-08-23 18:50] Fryguy commented on #148
@carbonin Thoughts?

[2016-08-23 19:20] abellotti commented on #148
I recall some folks at the design summit asking to be able to ssh to the appliance using their IPA credentials once ext auth is enabled. I wonder if this should be optional.

[2016-08-23 19:20] carbonin commented on #148
I think this would be a bit disruptive for installations that are deploying more than a few appliances at a time.

Also I'm not sure if we do this for other things as well, but I know that we rely on scp to retrieve the `v2_key` for environments with multiple appliances. So that, at least, would be broken on first setup.

Maybe something in between would be a better step? Maybe remove ssh for the

[2016-08-23 19:22] simaishi opened #152 "Cleanup how to add target specific partials for kickstart"
Adding partials for specific target can be cleaned up, see https://github.com/ManageIQ/manageiq-appliance-build/pull/150#discussion_r75921955

Also blank lines added for each tag in output can be removed by adding trim mode for better readability.

[2016-08-23 19:36] geertj commented on #151
I'm on it! See my recent PR to imagefactory, which got merged today :)

https://github.com/redhat-imaging/imagefactory/pull/382

What remains to do is to call the automation from vmbuild.rb. My suggestion would be to only upload releases to Atlas (and GCE, and other clouds we want to support), and keep the nightlies only on releases.manageiq.org.

[2016-09-08 15:47] JPrause commented on #26
Spoke with Alberto and the issue as described still exists.

[2016-09-08 15:52] JPrause commented on #55
@abellotti @jrafanie does this issue as described still exist, or is this now resolved. (checking on issues with no recent updates)

[2016-09-08 16:00] JPrause commented on #57
@bdunne @Fryguy just checking on issues with no recent update,...was this something we still wanted to change?

Just checked the darga nightly build and the Version shows: darga-3.20160908115602_23fa871

[2016-09-08 16:13] JPrause commented on #27
Checking on issues with no recent updates.
Just reviewed last night's darga-nightly build,..this issue still exists as described.

[2016-09-09 17:28] Fryguy commented on #57
¯\\\_(ツ)_/¯ I'm ok with leaving this open

[2016-09-09 17:48] simaishi commented on #57
I think this is already fixed - it should be getting sha from manageiq repo.

[2016-09-09 20:19] JPrause commented on #57
@bdunne based on Satoe's comment,..can you close this issue.

[2016-09-14 16:04] jrafanie opened #158 "Code org: move build code into build directory, rename scripts to lib"
Seen in #154

Note, we really need to move files to the right places and re-namespace things based on standard ruby conventions:

[code]

Also, rename scripts directory to lib.

[2016-09-14 20:28] karmab commented on #147
i believe cloudinit is still widely used.
straight kvm can be used for testing the appliance and keeping cloudinit there would not only help setting network configuration but also preconfigure the appliance using runcmds

[2016-09-23 19:27] geertj commented on #148
Coming back to this after a some more thinking on this. I think the following two statements are correct:

1. Having a user (especially root) with a default password that can login via the network with that password is a real security issue. Many first time users will not know about this, making them vulnerable as they will leave the root password unchanged. And even for more experienced users, th

[2016-09-23 19:38] geertj commented on #147
@karmab can you elaborate? Are you saying you run appliances other than the oVirt and OpenStack appliances with KVM (not oVirt). So how do you do this? Do you mkisofs a CD and put the multi-part MIME file on it? And what is the use case for doing this?

[2016-09-23 22:13] #57 closed

[2016-09-24 06:13] karmab commented on #147
I exactly do that, running manageiq or cloudforms on straight kvm and
trying to have it configured with cloudinit.

I use a tool i develloped to make all the process easy:
you can see the cloudinit script im trying to use at
https://github.com/karmab/kcli/tree/master/uci/manageiq

The use case is to quickly launch either a single appliance or a more
advanced stack with also ovirt, openstack,... fo

[2016-09-30 15:13] simaishi opened #166 "Doc build failing with ascii_binder v0.1.5"
docbuild has been failing since ascii_binder v0.1.5 came out.

[code]

[2016-10-04 21:29] Fryguy opened #170 "Upgrade to ruby-install 0.6.0"
ruby-install was updated to 0.6.0 a long while ago, and it supports the --update options, but we are still using 0.5.0 [here](https://github.com/ManageIQ/manageiq-appliance-build/blob/1f8fa5fbaf79d00cccec7c42034a2e0f54a1d8e9/kickstarts/partials/post/ruby_install.ks.erb#L1).  Upgrading should allow us to be more fluid with patch level versions of Ruby as indicated [here](https://github.com/ManageIQ

[2016-10-04 21:30] Fryguy commented on #166
I saw that issue locally and I just can't understand it :(  Our manageiq_docs builds are failing for the same reason.  cc @nhr

[2016-10-04 22:56] abellotti commented on #166
check the change @jvlcek needed to do in his PR: https://github.com/ManageIQ/manageiq_docs/pull/139/files

changing bundle exec ascii_binder to bundle exec asciibinder in the Rakefile

[2016-10-04 23:02] nhr commented on #166
See this AsciiBinder issue: https://github.com/redhataccess/ascii_binder/issues/64
Is it possible that under Ruby 2.3.1 that the gemspec line referenced there is not picking up the symlink? The odd part is that `ascii_binder` is the actual file and `asciibinder` is the symlink to same...

[2016-10-04 23:04] nhr commented on #166
Oh, I take it back - `asciibinder` is the actual file. So I bet that we need to fix the gemspec.

[2016-10-06 14:08] #170 closed

[2016-10-14 16:00] #145 closed

[2017-01-19 21:21] simaishi opened #190 "Use tmpfs for vmdb/log during build"
https://github.com/ManageIQ/manageiq-appliance-build/pull/138#discussion_r95902993

"we should use the trick that Geert used where we mount tmpfs, and then just toss the tmpfs disk at the end. This way we keep the image size down since deletes don't really delete the on-disk bits"

[2017-03-01 19:40] carbonin opened #196 "Missing rubocop files"
Bot is reporting comments like:

https://github.com/ManageIQ/manageiq-appliance-build/pull/195#issuecomment-283433330

ping @Fryguy @bdunne

[2017-03-09 19:29] Rambo68 opened #197 "Default root login and password on GCE manageiq appliance/image"
Hi:

Is there anyway to access the console from GCE? I Keep getting permission denied. I've tried admin/password admin/smartvm root/password root/smartvm.

Thanks,

Angel

[2017-03-09 19:40] simaishi commented on #197
@Rambo68 For GCE, 'root' account is locked and the only way to access console is to set up SSH key for the instance (https://github.com/ManageIQ/manageiq-appliance-build/pull/136).

[2017-03-09 19:41] Rambo68 commented on #197
I see that. However, would you know how it is done in GCE?

From: Satoe Imaishi <notifications@github.com>
Reply-To: ManageIQ/manageiq-appliance-build <reply@reply.github.com>
Date: Thursday, March 9, 2017 at 2:40 PM
To: ManageIQ/manageiq-appliance-build <manageiq-appliance-build@noreply.github.com>
Cc: Rambo68 <ar4unix@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ManageIQ/manage

[2017-03-09 19:48] simaishi commented on #197
I assume you're asking where to set up SSH key?  When you create an instance, click "Management, disk, networking, SSH keys" -> "SSH Keys".  You can set up project-wide or instance specific SSH key there.

[2017-03-09 19:57] Rambo68 commented on #197
Yes, I will try again as I have already tried this and it didn’t work.

From: Satoe Imaishi <notifications@github.com>
Reply-To: ManageIQ/manageiq-appliance-build <reply@reply.github.com>
Date: Thursday, March 9, 2017 at 2:48 PM
To: ManageIQ/manageiq-appliance-build <manageiq-appliance-build@noreply.github.com>
Cc: Rambo68 <ar4unix@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [Man

[2017-03-09 20:11] Rambo68 commented on #197
From: Satoe Imaishi <notifications@github.com>
Reply-To: ManageIQ/manageiq-appliance-build <reply@reply.github.com>
Date: Thursday, March 9, 2017 at 2:48 PM
To: ManageIQ/manageiq-appliance-build <manageiq-appliance-build@noreply.github.com>
Cc: Rambo68 <ar4unix@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ManageIQ/manageiq-appliance-build] Default root login and password on GCE m

[2017-03-09 20:37] Rambo68 commented on #197
Is there another user I can access from the serial console? The ssh does not seem to be working. I have multiple instances and K8 Clusters I can ssh to just fine.

Thanks,

Angel

From: Satoe Imaishi <notifications@github.com>
Reply-To: ManageIQ/manageiq-appliance-build <reply@reply.github.com>
Date: Thursday, March 9, 2017 at 2:48 PM
To: ManageIQ/manageiq-appliance-build <manageiq-appliance-build

[2017-03-10 14:43] agrare opened #198 "Get rid of floppy not found kernel/syslog message in appliance image"
Existing centos 7.3 vmware MIQ appliance keep logging floppy not found message from dmesg and syslog message.

This can be resolved by booting VM into bios mode and disable the floppy controller.
Not sure if you can disable it inside *.vmx file

Let me know if you need more detail

https://github.com/ManageIQ/manageiq-providers-vmware/issues/23
cc @tjyang

[2017-03-10 14:53] carbonin commented on #198
I think the cloud-init payload for VMware images might be delivered through the floppy device, but I can't remember for sure ... @jvlcek @bdunne do either of you guys know?

[2017-03-10 15:48] tjyang commented on #198
Hi All.
Just an FYI. See https://www.centos.org/forums/viewtopic.php?t=47519

[2017-03-14 16:39] jvlcek commented on #198
cloud-init, at one point a while ago, did use the floppy device to deliver the user data payload but that was supposed to be discontinued. I'm not fully sure what the current state is but I'd be surprised if cloud-init still required a floppy to do user data payload injection.

[2017-03-14 21:27] Rambo68 commented on #197
Hi:

I wanted to give you an update on your GCE image. I don’t think you have the google cloud tools installed which makes it impossible to login to the console. You can’t SSH into it from gcloud, or from the cloudshell because the GCE tools are not installed. Also, you have the root account locked and no other reference account is listed to permit login. The only account you have listed is admin/

[2017-03-14 21:47] simaishi commented on #197
I'm sorry I forgot to update this issue... I tried euwe-2 appliance and confirmed no SSH access.  The kickstart log showed the google compute engine packages are installed, but the console log didn't show setting up instance, which explains why SSH isn't working.

I'll dig into this more. Thank you for reporting the issue.

[2017-03-14 21:48] Rambo68 commented on #197
Thanks my friend. I love the product!

From: Satoe Imaishi <notifications@github.com>
Reply-To: ManageIQ/manageiq-appliance-build <reply@reply.github.com>
Date: Tuesday, March 14, 2017 at 5:47 PM
To: ManageIQ/manageiq-appliance-build <manageiq-appliance-build@noreply.github.com>
Cc: Rambo68 <ar4unix@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ManageIQ/manageiq-appliance-build] D

[2017-03-17 16:56] bdunne commented on #198
I think it was used on RHEV as well, not sure if that is still the case.  cc @jhernand

[2017-03-21 19:12] bdunne commented on #196
@miq-bot assign @bdunne

[2017-03-21 19:25] #196 closed

[2017-04-04 20:50] #197 closed

[2017-05-01 22:13] Fryguy commented on #26
@simaishi Bump 🐢   This issue as opened in a slightly different way in ManageIQ/manageiq-appliance#121

[2017-05-02 15:39] simaishi commented on #26
ImageFactory doesn't expose the OS setting and it's hard-coded as "rhel6_64Guest".

https://github.com/redhat-imaging/imagefactory/blob/master/imagefactory_plugins/ovfcommon/ovfcommon.py#L465-L469

The only way to 'fix' this currently is to overwrite the value in Imagefactory source that's on our build machine...

[2017-05-02 15:52] simaishi commented on #26
I see an open issue in imagefactory: https://github.com/redhat-imaging/imagefactory/issues/401

[2017-05-13 12:05] tjyang opened #209 "Get rid of "IPv6: eth0: IPv6 duplicate address" in VMWare VM appliance"
This is on Fine-rc1 appliance running on VMware® Workstation 12 Pro

[code]

Ref: https://access.redhat.com/solutions/335803

[2017-05-13 12:23] tjyang commented on #209
This is non-issue, following is the walk around step for VM not using ipv6.
[code]

[2017-05-13 12:53] #209 closed

[2017-06-05 13:28] miq-bot opened #212 "ManageIQ Azure image file - wrong VHD format"
The http://releases.manageiq.org/manageiq-azure-fine-1.vhd image is not working as expected. Every time I've tried to provisioning an VM with this .VHD I received an error message about the VHD format. I've had to convert it to RAW, resized, converted to VHD (qemu-img), to be able to use this template, based on the article https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create

[2017-06-05 13:45] simaishi commented on #212
We had this issue reported somewhere else. As per the report, this seems to be caused by the Microsoft PowerShell cmdlet change to no longer auto resize/convert the images upon upload.

Until we create images that will work without extra steps, please follow the [ManageIQ Azure image deployment instruction]( http://manageiq.org/docs/reference/latest/doc-Installing_on_Microsoft_Azure/miq/).

[2017-06-05 14:41] matiasma commented on #212
Hi @simaishi , I'm receiving the same error message using this new .VHD file ("Only blobs formatted as VHDs can be imported")

The Add-AzureRMVhd PowerShell cmdlet converts VHD from dynamic to fixed format during the upload process (I'm seeing 45GB of file after the upload process).

How are you creating this VHD file?

[2017-06-05 14:58] simaishi commented on #212
@matiasma Not sure which one is the "new .VHD file", but we haven't changed the process, so I expect you get the error message with any image now if you don't convert/resize manually.

We use imagefactory (which uses oz) to create VHD file, [done here](https://github.com/ManageIQ/manageiq-appliance-build/blob/master/scripts/vmbuild.rb). We probably need to add the extra steps before it converts th

[2017-07-26 23:26] tjyang opened #219 "4.5G root partition too small for vmware appliance"
Hi

* This current miq instance with master branch without upgrade on miq01 machine.
[code]
* On another instance miq02, I  am out of root diskspace easily by  upgrade command.
[code]
*  Please increase / size, if I am not doing anything wrong.

[2017-08-02 19:44] tjyang commented on #219
Hi @simaishi ,

Can the disk layout  have  extra 10-20G  unassigned space  ?
So one can assign the free space to vg_system or vg_data volume groups when needed.

[code]

[2017-08-02 19:52] simaishi commented on #219
@tjyang We actually have a need to increase /var size as well, so let me talk to a few people and figure out what we need to do. I like your idea of leaving some 'open' space 😄

[2017-08-02 19:57] tjyang commented on #219
@simaishi, we have this practice at work of leaving open space, so admin can extend and resize lv on the fly.  I can easily add /dev/sdb vmdk file but that will make this appliance with two vmdk files  hard/impossible to do v2v(VMware to OpenStack) later.

[2017-10-31 18:40] chriskacerguis opened #241 "Start using NVM for NodeJS"
We should start to use Node Version Manager (NVM) for the Node installation.  This is pretty much the NodeJS version of RVM.

More info: https://github.com/creationix/nvm

[2017-11-03 15:33] #219 closed

[2017-12-18 19:19] Fryguy commented on #40
@simaishi Can you please do this when you have a chance?

[2018-08-06 13:34] #40 closed

[2018-08-28 13:45] #26 closed

[2018-09-12 09:08] dalareo commented on #212
I am getting the same error when trying to create an image from VHD file:

[code]

[2018-09-27 07:34] kuklis opened #285 "OVA import: Unable to retrieve manifest or certificate file"
I'm getting "Unable to retrieve manifest or certificate file." error message when trying to import Gapri-5 OVA into vSphere 6.7.0

Workaround was to repackage the ova file with OVFtool:

ovftool --skipManifestCheck manageiq-vsphere-gaprindashvili-5.ova miq-gapri5.ova

[2018-10-18 15:45] simaishi commented on #241
@carbonin are you good on closing this one?  I think we need just one version on appliances..?

[2018-10-18 15:49] #241 closed

[2019-10-02 15:07] #166 closed

[2019-11-25 14:24] simaishi commented on #285
@kuklis I'm sorry for the delay getting back to you on this. I tried `gaprindashvili-5` as well as `ivanchuk-1` in vCenter 6.7.0 (with ESXi 6.7.0) environment and had no problem importing the images.

If you're still seeing the issue, please reopen with more info (exact vSphere version, etc.).

[2019-11-25 14:24] #285 closed

[2019-11-26 18:16] carbonin opened #373 "Build and push container images as a part of nightlies"
As long as we get the build machine set up with credentials to docker hub this should just be:

[code]

[2019-11-26 18:21] simaishi commented on #373
This is on my list, but I need to add support for using RH npm registry to podified build first...

[2019-11-26 18:30] carbonin commented on #373
:+1: Just wanted to get it out there somewhere since I was trying to use the images today and they hadn't been pushed since before the kubernetes compatibility change.

[2019-11-26 20:53] Fryguy commented on #373
We'll also need some basic deployment documentation for the website, because it should ultimately appear on manageiq.org.downloads

[2019-11-26 21:00] simaishi commented on #373
yeah... there is an open issue: https://github.com/ManageIQ/manageiq.org/issues/620

[2019-12-04 21:47] Fryguy opened #374 "[Appliance] Add Kafka service - Kasparov"
This should be similar to how we supply PostgreSQL out of the box on our appliance.  Basic Kafka with no HA or anything special.  If user wants an HA and/or a customized external Kafka. we should allow for that configuration as well.
- [X] Split out config file https://github.com/ManageIQ/manageiq/issues/20001
- [X] Create systemd units for kafka and zookeeper
- [X] Build an RPM
- [x] Add RPM to k

[2019-12-06 19:34] mfeifer commented on #127
@simaishi what would you like to do with this old issue?

[2019-12-06 19:36] simaishi commented on #127
I've pinned the issue and assigned to myself. I'm still trying to figure out if this can be done, as this is really helpful if it can be done.

[2019-12-06 20:28] simaishi commented on #212
This will be addressed when we make our build machine to be CentOS 8 based, work in progress.

[2019-12-06 21:11] simaishi commented on #151
I looked into this before. Tried to use the imagefactory plugin, but the upload kept failing (it will start, but times out), and I was never able to upload an image using the plugin. Will try again when we have a new build machine.

Note, this will also require a small change to imagefactory plugin so it uploads without releasing the image.

[2019-12-10 20:52] #373 closed

[2019-12-11 19:20] simaishi opened #378 "smem still needed?"
As per a quick discussion with @jrafanie, opening an issue to investigate if smem is sill needed on appliances.

smem was originally added in https://github.com/ManageIQ/manageiq-appliance-build/pull/84 for forked process, but the original reason no longer applies.

Came across this working on CentOS 8 based appliance, as the package doesn't exist (not even EPEL).

[2019-12-12 15:58] Fryguy commented on #378
This was added for diagnostic purposes, to better be able to determine process memory on a running appliance, so it can probably be removed if it's not available.

[2019-12-12 16:21] jrafanie commented on #378
Selfishly, I prefer the way smem presents PSS, USS, RSS vs. top only showing RSS but that's just me, I don't think it's required or documented.

[2019-12-12 17:38] simaishi commented on #378
I have no problem building the RPM if it's useful.  If we're keeping it, we should probably document though 😄

[2019-12-12 18:38] mfeifer commented on #198
@simaishi can you look at this one? (jason says)

[2019-12-12 18:39] simaishi commented on #198
Yes, I'm checking (also a few other issues in this repo)...

[2019-12-17 20:40] simaishi commented on #55
Tried this with the latest appliance. As @carbonin mentioned, database setup finished successfully even without network.

I also tried shutting down appliance during database setup. The shutdown happened after initializing postgresql but before creating region. Upon booting up again, I was able to use reset option to get working database and start evmserverd.

If we find a specific case where we c

[2019-12-17 20:40] #55 closed

[2020-01-22 21:08] simaishi commented on #378
Built smem for CentOS 8, closing.

[2020-01-22 21:08] #378 closed

[2020-01-30 18:50] mfeifer commented on #27
@jrafanie is this still an issue?

[2020-01-30 19:06] mfeifer commented on #152
@simaishi is this still needed?

[2020-01-30 19:07] mfeifer commented on #148
cc @simaishi

[2020-01-30 20:08] jrafanie commented on #27
No.  This is so old that most of the se linux things we were doing are now completely changed. Thanks!

[2020-01-30 20:08] #27 closed

[2020-02-20 18:47] mfeifer commented on #152
@simaishi does this issue still need to stay open?

[2020-02-21 00:10] NickLaMuro opened #384 "Vagrant kickstart partial not being trigger on manageiq-vagrant-master-20200211-4a069a15e6.box"
This is a pretty specific case, since I haven't tested this else where, but when trying to use vagrant with vagrant+Virtualbox with this specific build:

http://releases.manageiq.org/manageiq-vagrant-master-20200211-4a069a15e6.box

I was unable ssh into the VM.

Upon closer inspection by logging in as root via the Virtualbox terminal, it seems like the `vagrant` user was not created, and the rest

[2020-02-21 00:26] NickLaMuro commented on #384
After investigating a bit more, it seems like it is related to the `pip install` step, and is similar to https://github.com/ManageIQ/manageiq-appliance-build/pull/382 (though a different error.

Comment in gitter a bit here:

https://gitter.im/ManageIQ/manageiq-appliance-build?at=5e4f2263dafa3029f642bc1d

I will try and get a stacktrace shortly...

[2020-02-21 00:37] simaishi commented on #384
@NickLaMuro All builds were broken starting Feb 10 for master/ivanchuk. Depending on which version of virtualenv got picked up, you might see a different error. Please try with Feb 17 or later build.

[2020-02-21 00:43] NickLaMuro commented on #384
@simaishi thanks.  Will do, and sorry for the noise.  It was probably a poor choice on my part to go with a nightly for my purposes, but will report back when I have tested with a newer version.

Thanks again!

[2020-02-21 02:30] NickLaMuro commented on #384
Tested with the 20200218 and everything is installed for the build properly as suggested.

Thanks!   Closing.

[2020-02-21 02:30] #384 closed

[2020-02-21 22:15] NickLaMuro commented on #384
Just wanted to leave a quick follow up:

If/when this does happen for anyone else, you can get around this and still get into the appliance by adding the following to the `Vagrantfile`:

[code]

So this will allow you to get access to the `anaconda-post.log` and determine what might have gone wrong, or do any other VM actions via `vagrant ssh`.

[2020-03-17 17:28] simaishi opened #393 "Install ruby using RPM?"
Opening this issue to discuss if we should switch to using CentOS AppStream ruby, rather than using `ruby-install`

Pros for switching to AppStream:
- Less build time: `ruby-install` downloads and compiles ruby on every build, and this takes about 4-6 minutes. If we use ruby RPM, that will be a part of package installation and not a separate process.
- Reliability: One of the reasons appliance won

[2020-03-17 17:39] NickLaMuro commented on #393
So on the surface, I would say that the con of not having the "latest and greatest" Ruby isn't too big of a deal, and us probably upgrading Rails and being on top of that is a bigger hurdle (that doesn't involve the build at all) that we need to overcome.  I say this since I was getting some Ruby deprecation warnings when trying to use 2.7 with Rails 6, so I think we are pretty good if we are a pa

[2020-03-17 17:48] simaishi commented on #393
Thanks @NickLaMuro

Added the security fix concern to the "Cons" list. I'm also checking more on the "default" gems difference in AppStream ruby.

[2020-03-17 19:03] bdunne commented on #393
- Is there any timeline for how quickly AppStream will build the latest rubies? I remember software collections being way behind.
- I know we have required a minimum patch version in the past due to bugs in lower patch versions.  Is there any way to specify that?
- Does AppStream work properly with `Bundle.with_clean_env`?

[2020-03-17 20:12] jrafanie commented on #393
Yeah, that's the major concern.  What do they change with regard to stdlib but also how binary extensions get installed into various locations?  If people are expected to be able to do bundle operations like clean on upstream appliances, that's a definite problem.

[2020-03-18 14:15] simaishi commented on #198
CentOS 8 does not support floppy drive, this is no longer an issue in Jansa and forward.

[2020-03-18 14:15] #198 closed

[2020-03-19 14:27] sethpeterson opened #397 "Unable to find python3-httplib2 for centos8"
I am setting up an environment to build the appliance images and the kickstart file references this package which I cannot find.

[code]

[2020-03-19 14:31] sethpeterson commented on #397
Fixed by enabling PowerTools!
Thanks :)

[code]

[2020-03-19 14:31] #397 closed

[2020-03-19 14:49] sethpeterson opened #398 "Missing Doc Step - Place centos8 iso in /build/isos"
The centos8 iso needs to be placed in /build/isos/ prior to building. This step is missing from the documentation.

[2020-03-19 14:50] Fryguy commented on #398
wonder if we can just have a curl command to fetch that?

[2020-03-19 14:50] chessbyte commented on #398
@sethpeterson if possible, please make a PR with this fix

[2020-03-19 14:56] Fryguy commented on #393
If it's anything like SCL, I'm a huge :-1: .  The changes that SCL did to Ruby made dealing with it a huge headache.  Maybe those are just battle scars though and AppStream is different.

---

Another idea... What if we did a ruby-install on-demand on a build machine and then packaged that in some form (RPM in copr?).  Then, you can avoid the build timing problems, but we also keep the flexibility

[2020-03-20 13:06] simaishi commented on #398
README updated in https://github.com/ManageIQ/manageiq-appliance-build/pull/399.

@sethpeterson If you add "Closes \<issue #\>" (like: `Closes https://github.com/ManageIQ/manageiq-appliance-build/pull/399`) in the git commit message in your PR, the referenced issue will be automatically closed by bot when PR is merged. FYI, for your future issues/PRs 😄

[2020-03-20 13:06] #398 closed

[2020-03-20 13:21] Chelsbells1123 opened #400 "Delete"
Ducking delete this bullshit

[2020-03-20 13:22] Chelsbells1123 opened #401 "Delete"
Delete

[2020-03-20 13:22] Chelsbells1123 opened #402 "Delete"
Delete

[2020-03-20 13:23] ghost opened #403 "- Is there any timeline for how quickly AppStream will build the latest rubies? I remember software collections being way behind."
- Is there any timeline for how quickly AppStream will build the latest rubies? I remember software collections being way behind.
- I know we have required a minimum patch version in the past due to bugs in lower patch versions.  Is there any way to specify that?
- Does AppStream work properly with `Bundle.with_clean_env`?

_Originally posted by @bdunne in https://github.com/ManageIQ/manageiq-appl

[2020-03-20 13:41] bdunne commented on #403
@Chelsbells1123 Did you intend to open this issue?

[2020-03-20 13:41] #400 closed

[2020-03-20 13:41] #401 closed

[2020-03-20 13:42] #402 closed

[2020-03-20 14:43] #212 closed

[2020-03-23 19:54] chessbyte commented on #374
Split out Kafka configuration into https://github.com/ManageIQ/manageiq/issues/20001

[2020-04-01 20:17] simaishi commented on #403
Closing the issue since the user account has been deleted (as per 'ghost'...)

[2020-04-01 20:17] #403 closed

[2020-04-02 15:06] simaishi opened #408 "'irb' gem no longer exists on appliance"
On master/jansa appliances, `irb` gem (which is a default gem that should always exist) gets removed by `bundle clean --force` during appliance build and it doesn't exist.

In ruby 2.6.x, ['irb' became a standard gem](https://stdgems.org/new-in/2.6/), which seems to be causing the removal now.

The workaround for now: `gem install irb`

[2020-04-02 15:47] simaishi commented on #393
Thank you for the feedback!

I was hoping to avoid building our own RPM, only because that seemed a wrong approach when RHEL/CentOS is providing it without need of extra steps (e.g. enabling it before use, which was the case with SCL). But AppStream RPM behaves differently and making appliance work with it seems to be a lot more work with more unknowns, so looked into building our own. The main go

[2020-04-02 15:56] NickLaMuro commented on #408
@simaishi how are you calling `IRB`?

You shouldn't need to install it, but you now won't be able to do something like `bundle exec irb` if the `Gemfile` doesn't include `gem "irb"` (which is infuriating to me... but I digress...).

Though, I guess I am unsure of what `bundle clean --force` does, but if it is cleaning up standard gems that seems like a bug in bundler.

[2020-04-09 18:14] Fryguy commented on #408
@simaishi This might be related - https://github.com/rubygems/bundler/issues/6929

Moving to a newer bundler might fix that.

[2020-04-09 19:54] simaishi commented on #408
Since the gem is removed, both `irb` as well as `bundle exec irb` fail.

[code]
Some gems have newer versions installed (bundle, rake), so removing the version that came with ruby isn't causing problems.

Of those, bundler, irb and rdoc are "default" gems, and the rest is "bundled" gems in ruby 2.6.5.

There was an issue about removing bundled gem (https://github.com/rubygems/bundler/issues/6648).

[2020-04-09 19:56] simaishi commented on #408
It might be related, but we're already using the latest bundler, v2.1.4

[2020-04-13 13:33] simaishi opened #411 "Switch to rpm based install for ManageIQ source code"
- [X] Create manageiq-rpm_build repo: https://github.com/ManageIQ/manageiq-rpm_build
- [x] Create a yum repo at rpm.manageiq.org for official builds (@bdunne)
- [x] Upload RPMs https://github.com/ManageIQ/manageiq-rpm_build/pull/48
- [x] Update RPM metadata on rpm.manageiq.org (@bdunne) https://github.com/ManageIQ/manageiq-rpm_build/pull/49
- [x] Update PRs to use the new rpm.manageiq.org yum repo

[2020-04-13 20:32] jrafanie commented on #408
should we just add irb to the Gemfile?

[2020-04-13 20:35] carbonin commented on #408
@jrafanie maybe better to add it to https://github.com/ManageIQ/manageiq-appliance/blob/master/manageiq-appliance-dependencies.rb

[2020-04-13 20:49] jrafanie commented on #408
yeah, I guess we'd have to look at all of the default gems and decide if that's what we want to do with them too.

https://stdgems.org/new-in/2.6/

[2020-04-13 21:07] carbonin commented on #408
I think it would depend on the gem though, right ... Some would belong in the Gemfile, or more likely, the gem that would actually need them (looking at `logger` in that case).

`irb` specifically is an appliance concern (I don't think we actually us it in the application). Maybe it would be a candidate for a development dependency ... sure, but not in the actual app Gemfile.

[2020-04-14 13:38] simaishi commented on #411
@Fryguy @chessbyte Is it correct to assume we will only support updates via rpm once this change is implemented?

@jrafanie Will there be any issue installing gems to non-default location by setting a path (just like how downstream works)?

Trying to think what should still work on the appliance once this change is implemented in regards to gem/bundle. If we're not expecting users to run `bundle u

[2020-04-14 13:48] Fryguy commented on #411
Yes, that sounds reasonable to me.  I think separately we should have instructions on how to convert an appliance to a git based one for dev purposes, but other than that, once we go rpm, that would be the one way.

[2020-04-14 19:39] jrafanie commented on #411
`--path`  is a default option supported by bundler so I think that should be fine.  I can't remember, is that how you intend to use it?

[2020-04-15 14:09] Fryguy commented on #411
I think the biggest thing we have to make sure works properly, but is complicated, is the way automate uses gems (and allowing people to install gems without affecting the core).  This was a big issue downstream, but I'm not sure it's an issue upstream.

[2020-04-17 14:15] simaishi commented on #411
Initially I'm following the downstream steps and setting GEM_HOME during bundle. BUNDLE_PATH -> GEM_PATH change was something we did for downstream when we went from bundler 1.15 to 1.16+.

Is it a requirement that our bundled gems and user installed gems go into different directory?  automate should be able to access all bundled gems (including git based) as well as user installed gems?

[2020-04-20 19:05] Fryguy commented on #411
I don't see why automate can't access bundled gems.  @jrafanie?

[2020-04-20 19:09] Fryguy commented on #408
I believe rails console uses it.

[2020-04-20 19:22] carbonin commented on #408
Oh I would have expected it to be a rails dependency then. Did they not add it when ruby 2.6 was released?

If that's the reason, then I guess it does belong in the manageiq Gemfile.

[2020-04-20 19:23] Fryguy commented on #408
I agree...I'd expect a rails depedency as well

[2020-04-28 13:13] Fryguy commented on #411
https://github.com/ManageIQ/manageiq-rpm_build

[2020-04-28 14:36] jrafanie commented on #411
To be honest, I just don't remember how this was supposed to work for automate gems in older versions.  I believe there was some inconsistency with downstream with how gems were packaged and if their location was on the GEM_HOME or GEM_PATH earlier than the system gems.  I haven't had cycles to look at this though.

[2020-05-28 15:46] simaishi commented on #408
Resolved by https://github.com/ManageIQ/manageiq-appliance-build/pull/415 as we longer need to run `bundle clean --force`

[2020-05-28 15:46] #408 closed

[2020-05-28 15:50] simaishi commented on #393
Resolved by https://github.com/ManageIQ/manageiq-appliance-build/pull/415. Switching to RPM based appliance build changed gem install dir as well as need to run `bundle clean`, so we're now using ruby RPM from AppStream.

If not having the latest version or not having a security patch in a timely manner become a problem, we can look into building our own ruby package.

[2020-05-28 15:50] #393 closed

[2020-05-28 15:52] simaishi commented on #190
Switching to rpm based appliance build (https://github.com/ManageIQ/manageiq-appliance-build/pull/415) made this issue obsolete.

[2020-05-28 15:52] #190 closed

[2020-05-29 15:18] simaishi opened #422 "Move ovirt-ansible-* rpm installation from post script to rpm requires"
Since oVirt 4.4 is now GA, installing ovirt-ansible-* rpms can be done through manageiq rpm "requires". It's currently done in post script: https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/ovirt_ansible.ks.erb

3 things need to be done:

- Update rpm 'requires': https://github.com/ManageIQ/manageiq-rpm_build/pull/58
- Remove from appliance kickstart: https:

[2020-05-29 15:31] simaishi opened #423 "Move ansible python module installation from post script to a standalone rpm"
Since python module versions for ansible venv are hardcoded in [post script](https://github.com/ManageIQ/manageiq-appliance-build/blob/master/kickstarts/partials/post/python_modules.ks.erb), we should move this to a standalone RPM to avoid going through install process on every build.

This will eliminate a need to install a few development packages too.

- [x] https://github.com/ManageIQ/manageiq

[2020-05-29 18:32] Fryguy commented on #411
Done!

[2020-05-29 18:32] #411 closed

[2020-06-02 17:29] Fryguy commented on #423
can we somehow name it such that we know it's for embedded ansible?

[2020-06-03 14:50] Fryguy opened #429 "Include a dependency manifest in the build"
@simaishi As discussed, we already have the Ruby gems list, but it would be nice to have python, node, and even system packages in the manifest.

- [x] ruby gems (https://github.com/ManageIQ/manageiq-rpm_build/pull/64)
- [x] npm packages (https://github.com/ManageIQ/manageiq-rpm_build/pull/64)
- [x] webpack (https://github.com/ManageIQ/manageiq-rpm_build/pull/75)
- [x] python modules (https://gith

[2020-06-04 18:23] simaishi commented on #127
With rpm based appliance, we no longer need to get this done. What sometimes failed in the %post section is now all done during rpm build.

[2020-06-04 18:23] #127 closed

[2020-06-04 18:26] Fryguy commented on #429
I'd like the manifest to have (if possible): package, version, license, source

where `source` is the source of the package.  In the case of system packages, source would be which yum repository it came from.  For something like Ruby, it might be things like rubygems.org vs rubygems.manageiq.org vs a git URL.  As this might be difficult to get, I'm ok with this being missing.

[2020-06-05 20:16] Fryguy commented on #429
Sounds good to me @simaishi

[2020-06-16 15:44] simaishi commented on #152
We have to keep a list of target that has target specific erb (so it will fail if file is missing), so it's probably best to keep this as is.

[2020-06-16 15:44] #152 closed

[2020-06-16 15:44] simaishi commented on #130
We no longer do git checkout in kickstart.

[2020-06-16 15:44] #130 closed

[2020-06-17 15:19] simaishi commented on #422
@Fryguy this is ready for review

[2020-06-17 18:02] #422 closed

[2020-06-29 20:00] simaishi commented on #151
@Fryguy We currently create vagrant box pointing to image at releases.manageiq.org (rather than uploading the image to vagrant cloud). Is that how we'll continue creating the boxes going forward?

[2020-06-29 20:42] simaishi commented on #106
Since building images are split to multiple machines now and not all build machines have access to the same fileshare, we'll have to upload logs to somewhere to implement this change.  I think only a few of us look at the logs and those are the people who have access to the logs already, so probably not worth the effort.  Closing.

[2020-06-29 20:42] #106 closed

[2020-07-17 20:25] Fryguy commented on #151
I think as long as vagrant cloud shows the user how to get the image, it doesn't matter where it lives.  I can see them there now at https://app.vagrantup.com/manageiq/ , so I think this is sufficient.  Maybe we could open a separate issue for automating the listing on vagrant cloud, but otherwise this issue is "done", IMO.

[2020-07-17 20:25] #151 closed

[2020-07-17 20:46] simaishi commented on #151
We're on the same page, that's what I was planning to do (after running into issue trying to upload...) 😄

[2020-07-21 15:06] simaishi commented on #423
Based on comments in https://github.com/ManageIQ/manageiq-appliance-build/pull/392, I assume we do want to continue providing python modules, but with reduced module list?

I don't know exactly how/where those are used and how to determine which module is needed.  @Fryguy @carbonin can you help?

[2020-09-08 13:32] jvlcek commented on #374
@miq-bot assign @jvlcek

[2020-09-11 15:21] simaishi commented on #423
@NickLaMuro wondering if you can help me figuring this out.

[2020-09-11 16:08] NickLaMuro commented on #423
@simaishi sure, though I think I am going to have a counter opinion to what both @Fryguy and Carboni had.

Simply put, I think it is simpler for us to just copy what AWX/Tower does because I don't really want to get into the business of trying to figure out what to support and not support out of Ansible, and they have a dedicated team for that where we basically have... me.

That way, we can simpl

[2020-09-11 17:48] simaishi commented on #423
@NickLaMuro Thank you. So I think we have 2 things to discuss and come to a conclusion.

1. What modules to include.  Same as AWX/Tower or only what we need?
1. When to update

There is no rpm upstream, which is why we're running pip install during appliance build. Regardless of what we decide for the first question, we also need to think about when to update. "ansible" rpm comes from upstream and

[2020-09-14 22:37] NickLaMuro commented on #423
I assume my opinion was obvious one the above, but I figured I should still weigh in:

As mentioned above, I am in the "Same as AWX/Tower".

I guess this one is maybe less obvious, but I would say no more than once a release, but probably I would shoot for once a year to stay up to date, and only earlier if asked.

However, I am just throwing out suggestions that I just came up with, so I don't ha

[2020-09-15 15:30] jvlcek commented on #374
@Fryguy I am not able to edit this. I believe https://github.com/ManageIQ/manageiq-rpm_build/pull/88 is the PR for
 _Add kafka to the appliance build_ in the initial issue description.

@bdunne Please confirm.
@Fryguy Please add this PR to the initial description for  _Add kafka to the appliance build_

[2020-09-15 15:36] bdunne commented on #374
Nope, https://github.com/ManageIQ/manageiq-rpm_build/pull/88 is for Add RPM to kasparov RPM repo which is checked off.  I changed _Add kafka to the appliance build_ to _Add kafka to the appliance as a RPM depedency_ to help clarify

[2020-10-15 21:12] bdunne commented on #429
Anything else required before closing this issue?

[2020-10-15 21:16] #429 closed

[2020-10-27 12:49] gtanzillo opened #447 "[Appliance] Add Kafka service"
Spinoff from https://github.com/ManageIQ/manageiq-appliance-build/issues/374

This should be similar to how we supply PostgreSQL out of the box on our appliance.  Basic Kafka with no HA or anything special.  If user wants an HA and/or a customized external Kafka. we should allow for that configuration as well.
- [x] Add kafka to the appliance as a RPM dependency https://github.com/ManageIQ/managei

[2020-11-06 17:13] Fryguy commented on #374
Closing as this is in the Kasparov (and thus completed) column in the Roadmap

[2020-11-06 17:13] #374 closed

[2020-12-02 15:17] jvlcek opened #454 "Create a kick start to build images with the kafka server pre-configured"
Need to build images with Kafka server and client enabled.

An example of how to do this can be seen where it is done for building images with the database built in here: https://github.com/ManageIQ/manageiq-appliance-build/blob/b5e453b6bf44cb797613be5da7835bace33fd21b/kickstarts/partials/post/db_init.ks.erb

[2020-12-02 16:15] jvlcek commented on #454
Don't need to add a new KS, just update the DB one to include enabling the kafka server and client.

[2020-12-08 11:15] jvlcek opened #456 "Get Kafka configuration working with Rdkafka"
This issue will track doing these two things:

1. Kafka has not been tested with secure SSL connections, which would be needed for production.
2. Kafka support has been changed to use [rdkafka](https://rubygems.org/gems/rdkafka), which has not been tested.

[2020-12-08 11:16] jvlcek commented on #456
@miq-bot add_label enhancement
@miq-bot assign @jvlcek

[2020-12-10 14:46] pemcg opened #459 "Move from CentOS 8 to CentOS Stream"
Application images:

- [x] rpms
  - [x] [manageiq-ansible-venv](https://github.com/ManageIQ/manageiq-rpm_build/pull/167)
- [x] podified
  - [x] [manageiq-pods base image](https://github.com/ManageIQ/manageiq-pods/pull/725)
  - [x] [container-httpd](https://github.com/ManageIQ/container-httpd/pull/62)
  - [x] [container-httpd-init](https://github.com/ManageIQ/container-httpd-init/pull/14)
  - [x] ~

[2020-12-10 14:59] Fryguy commented on #459
https://centos.org/distro-faq/#q7-how-do-i-migrate-my-centos-linux-8-installation-to-centos-stream

[2020-12-10 14:59] Fryguy commented on #459
cc @simaishi

[2021-01-04 20:06] jvlcek commented on #456
@gtanzillo All the work for this issue has been merged. Please close this issue.

[2021-01-04 21:02] #456 closed

[2021-01-25 19:50] #147 closed

[2021-01-25 19:50] #148 closed

[2021-03-30 16:13] #454 closed

[2021-03-30 17:40] bdunne commented on #447
All boxes are checked.  🎉

[2021-03-30 17:40] #447 closed

[2021-04-04 00:14] tjyang opened #476 "Your bundle is locked to mimemagic (0.3.5), but that version could not be found"
Hi

My last successful build was long time ago.
Can you advise where I did wrong ?
I don't know how to fix gem file as pointed out in [R1](https://stackoverflow.com/questions/66919504/your-bundle-is-locked-to-mimemagic-0-3-5-but-that-version-could-not-be-found)
<details>
[me@centos8t01 manageiq-appliance-build]$ cat /etc/redhat-release
CentOS Linux release 8.3.2011
[me@centos8t01 manageiq-applianc

[2021-04-04 00:35] tjyang opened #475 "unable to prepare context: path "manageiq-base" not found"
Hi

* Looks like container-build.sh need to be updated.

[code]
* The repo  version
[code]

[2021-04-09 22:01] Fryguy commented on #476
See also https://github.com/ManageIQ/manageiq-rpm_build/issues/143

[2021-04-10 02:23] tjyang commented on #476
@Fryguy , Thanks for looking at this issue.
* Kasparov-1 has same error message in my test box.

[code]

[2021-04-15 21:07] Fryguy commented on #475
@tjyang It looks like you are using the master version of the build script to build the jansa release.  You should match the branches, so you should use the build script from the jansa branch.

Closing, but if you are still having issues, feel free to reopen.

[2021-04-15 21:07] #475 closed

[2021-05-06 21:47] Fryguy commented on #476
@tjyang Now that the dust has settled on the mime-magic thing are you still seeing problems?

[2021-05-10 02:13] tjyang commented on #476
@Fryguy , Thanks for the follow-up

- I am seeing [gem issue ](https://github.com/rubygems/rubygems/issues/4555)this time.

[code]

[2021-05-10 15:41] kbrock commented on #476
I'm getting similar output but `master` is still giving me `mimemagic` issues.

I pruned

[code]

I'm not sure how my bundle could be locked, will try and track that down and see where it can go from here

[2021-05-12 02:00] tjyang commented on #476
- Here is another build log by "bin/rpm-build.sh -t release -r kasparov-1", back to " mimemagic (0.3.5)" issue.
<details>
[me@centos8t01 manageiq-appliance-build]$ bin/rpm-build.sh -t release -r kasparov-1
+++ readlink -f bin/rpm-build.sh
++ dirname /home/me/github/manageiq-appliance-build/bin/rpm-build.sh
+ BUILD_DIR=/home/me/github/manageiq-appliance-build/bin/..
+ CONFIG_OPTION=/home/me/github/

[2021-05-12 17:29] bdunne commented on #476
@tjyang Can you `docker pull manageiq/rpm_build:latest-kasparov`? I manually triggered a rebuild of those images yesterday and it worked on the builds that ran last night

[2021-05-12 19:17] tjyang commented on #476
@bdunne
Per your pointer above, here are the steps  I got the bill generated RPMs.
- remove existing all docker images
-  docker pull manageiq/rpm_build:latest-kasparov
-  bin/rpm-build.sh -t nightly -r kasparov-1
- This is the generated RPMs
<details>

Requires(rpmlib): rpmlib(CompressedFileNames) <= 3.0.4-1 rpmlib(FileDigests) <= 4.6.0-1 rpmlib(PayloadFilesHavePrefix) <= 4.0-1
Checking for unpac

[2021-05-12 19:35] bdunne commented on #476
@tjyang Great!  Anything else to resolve before we close this issue?

[2021-05-12 19:49] tjyang commented on #476
@bdunne

Should we wait for https://github.com/ManageIQ/manageiq/pull/21215 to be closed ?
So that following command works again.
[code]

[2021-06-29 08:36] ashkuren opened #484 "VMware Guest Customization does not work for OVA Image"
As stated, by default OVA image is unable to use vmware customization specs.
Image: `kasparov-1`

VMware error:
[code]

The reason could be related to this error that shows on `dnf` command execution.
[code]

[2021-07-02 16:16] bdunne commented on #484
@ashkuren Do we need to have Vmware Tools installed for this feature to work?

[2021-07-05 07:36] ashkuren commented on #484
[open-vm-tools](https://github.com/vmware/open-vm-tools) and its dependencies should be installed which is already the case. After some investigation, the symptoms are similar to this [post](https://communities.vmware.com/t5/VMware-vCenter-Discussions/VM-customization-does-not-work-until-booted-once/td-p/522372). `open-vm-tools` are not identified on the first boot, vm is not powered on and custom

[2021-07-22 23:21] kbrock commented on #476
The build is working

can we close this?

[2021-07-23 13:20] tjyang commented on #476
@kbrock

I tried to build kasparov-1 and kasparov-2 , both were able to generated RPMs.

<details>
[me@centos8t01 manageiq-appliance-build]$ time bin/rpm-build.sh -t nightly -r kasparov-1
<snipped>
Requires(rpmlib): rpmlib(CompressedFileNames) <= 3.0.4-1 rpmlib(FileDigests) <= 4.6.0-1 rpmlib(PayloadFilesHavePrefix) <= 4.0-1
Checking for unpackaged file(s): /usr/lib/rpm/check-files /root/rpmbuild/B

[2021-07-23 13:20] #476 closed

[2021-07-26 18:32] bdunne commented on #476
Kasparov fixed by: https://github.com/ManageIQ/manageiq/pull/21330

[2021-09-21 13:28] #459 closed

[2021-09-21 13:28] bdunne commented on #459
Everything is checked off, closing

[2022-07-13 21:21] Fryguy opened #515 "Upgrade to CentOS Stream 9"

[2022-09-22 17:40] maly-glod opened #526 "release-build.sh master -> Command exited with non-zero status 1"
Hi, guys

I'm trying to build miq appliance. I was managed to install environment with the "iPXE boot script for the kickstart", but during applience building I`m getting this error:
[code]

Am I doing something wrong? I am trying to build miq applience (from master branch) for openstack environment.

Full log:
[master_rpm.log](https://github.com/ManageIQ/manageiq-appliance-build/files/9628180/mas

[2022-09-22 19:48] bdunne commented on #526
https://github.com/ManageIQ/manageiq-appliance-build/blob/39ce38a82a107bd128e3c6226423d04231629796/bin/rpm-build.sh#L35 tells the RPM build to `--update-rpm-repo` which requires credentials.  A couple lines down from there you can see that it maps the OPTIONS fie into the RPM build container, you'll need to set credentials there.

[2022-09-28 17:37] Fryguy commented on #526
Closing as the question was answered

[2022-09-28 17:37] #526 closed

[2022-10-31 16:06] #423 closed